@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?8299328");
  src: url("../fonts/fontello.eot?8299328#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?8299328") format("woff2"), url("../fonts/fontello.woff?8299328") format("woff"), url("../fonts/fontello.ttf?8299328") format("truetype"), url("../fonts/fontello.svg?8299328#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8299328#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before {
  content: '\e800';
}

/* '' */
.icon-instagram:before {
  content: '\f16d';
}

/* '' */
.icon-whatsapp:before {
  content: '\f232';
}

/* '' */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  color: #292929;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.wrapper {
  max-width: 100vw;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.content {
  width: 85vw;
  width: 100%;
  position: relative;
  margin-left: 15vw;
  padding-bottom: 104px;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto 0 29px;
  padding: 0 15px;
}

.mt-149 {
  margin-top: 149px;
}

@media (max-width: 992px) {
  .mt-149 {
    margin-top: 51px;
  }
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: calc(35px + 12 * ((100vw - 320px) / 870));
  margin-bottom: 78px;
}

@media (max-width: 992px) {
  .title {
    font-family: "Montserrat Alternates", sans-serif;
    margin-bottom: 21px;
  }
}

.btn_link {
  background: linear-gradient(0deg, #FFD2B9, #FFD2B9);
  box-shadow: 3px 3px 12px rgba(255, 210, 185, 0.5), -3px -3px 12px rgba(255, 210, 185, 0.5);
  border-radius: 11px;
  color: #292929;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 18px 25px;
  font-weight: 500;
  cursor: pointer;
}

.mb-2 {
  margin-bottom: 2rem;
}

.btn-close {
  position: absolute;
  z-index: 99;
  right: 20px;
  top: 10px;
}

.btn-close span {
  width: 3px;
  height: 22px;
  background: #fff;
  display: block;
  border-radius: 3px;
  position: relative;
  transform: rotate(-45deg);
}

.btn-close span::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 22px;
  background: #fff;
  display: block;
  border-radius: 3px;
  transform: rotate(90deg);
}

.lang {
  position: relative;
  width: 40px;
}

.lang::after {
  content: '';
  position: absolute;
  background-image: url(../img/icon/lang-arrow.svg);
  width: 9px;
  height: 5px;
  right: 0;
  bottom: 2px;
  pointer-events: none;
}

.lang select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border: none;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.lang select::-ms-expand {
  display: none;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.gallery .slick-list {
  overflow: hidden;
}

.gallery .slick-track {
  display: flex;
}

.gallery .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  background: rgba(255, 210, 185, 0.6);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 48px;
  height: 46px;
  border: none;
}

.gallery .slick-arrow::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gallery .slick-arrow.slick-prev {
  left: 0;
  border-radius: 0px 3px 3px 0px;
}

.gallery .slick-arrow.slick-prev::before {
  background-image: url(../img/icon/arrow-left.svg);
  left: 50%;
}

.gallery .slick-arrow.slick-next {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}

.gallery .slick-arrow.slick-next::before {
  background-image: url(../img/icon/arrow-right.svg);
  right: 50%;
  transform: translate(50%, -50%);
}

.gallery .slick-dots {
  position: absolute;
  z-index: 1;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.gallery .slick-dots li {
  margin-right: 10px;
}

.gallery .slick-dots li.slick-active button {
  width: 20px;
  height: 10px;
  background-color: #fff;
  border-radius: 6px;
}

.gallery .slick-dots li button {
  font-size: 0;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.reviews__items .slick-list {
  position: relative;
  z-index: 0;
}

.reviews__items .slick-track {
  display: flex;
}

.reviews__items .slick-slide {
  max-width: 584px;
  height: 130px;
}

.reviews__items .slick-arrow {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  z-index: 1;
  font-size: 0;
  height: 25px;
  width: 25px;
}

.reviews__items .slick-arrow.slick-prev {
  right: 50px;
  background-image: url(../img/icon/arrow-left.svg);
}

.reviews__items .slick-arrow.slick-next {
  right: 10px;
  background-image: url(../img/icon/arrow-right.svg);
}

.reviews__comments .slick-track {
  display: flex;
}

.reviews__comments .slick-slide {
  max-width: 1008px;
  height: 180px;
}

.work__fade-slider .slick-list,
.master-class__fade-slider .slick-list {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.work__fade-slider .slick-track,
.master-class__fade-slider .slick-track {
  display: flex;
}

.work__fade-slider .slick-arrow,
.master-class__fade-slider .slick-arrow {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
  height: 15px;
  width: 15px;
}

.work__fade-slider .slick-arrow.slick-prev,
.master-class__fade-slider .slick-arrow.slick-prev {
  left: 10px;
}

.work__fade-slider .slick-arrow.slick-prev::before, .work__fade-slider .slick-arrow.slick-prev::after,
.master-class__fade-slider .slick-arrow.slick-prev::before,
.master-class__fade-slider .slick-arrow.slick-prev::after {
  content: '';
  position: absolute;
  width: 15px;
  border-radius: 3px;
  height: 3px;
  background-color: #fff;
  right: 0;
}

.work__fade-slider .slick-arrow.slick-prev::before,
.master-class__fade-slider .slick-arrow.slick-prev::before {
  transform: rotate(30deg);
  bottom: 2px;
}

.work__fade-slider .slick-arrow.slick-prev::after,
.master-class__fade-slider .slick-arrow.slick-prev::after {
  transform: rotate(-30deg);
  top: 3px;
}

.work__fade-slider .slick-arrow.slick-next,
.master-class__fade-slider .slick-arrow.slick-next {
  right: 10px;
}

.work__fade-slider .slick-arrow.slick-next::before, .work__fade-slider .slick-arrow.slick-next::after,
.master-class__fade-slider .slick-arrow.slick-next::before,
.master-class__fade-slider .slick-arrow.slick-next::after {
  content: '';
  position: absolute;
  width: 15px;
  border-radius: 3px;
  height: 3px;
  background-color: #fff;
  right: 0;
}

.work__fade-slider .slick-arrow.slick-next::before,
.master-class__fade-slider .slick-arrow.slick-next::before {
  transform: rotate(150deg);
  bottom: 2px;
}

.work__fade-slider .slick-arrow.slick-next::after,
.master-class__fade-slider .slick-arrow.slick-next::after {
  transform: rotate(-150deg);
  top: 3px;
}

.work__fade-slider .slick-dots,
.master-class__fade-slider .slick-dots {
  position: absolute;
  z-index: 1;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.work__fade-slider .slick-dots li,
.master-class__fade-slider .slick-dots li {
  margin-right: 10px;
}

.work__fade-slider .slick-dots li.slick-active button,
.master-class__fade-slider .slick-dots li.slick-active button {
  width: 20px;
  height: 10px;
  background-color: #fff;
  border-radius: 6px;
}

.work__fade-slider .slick-dots li button,
.master-class__fade-slider .slick-dots li button {
  font-size: 0;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.work__fade {
  max-width: 555px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(46, 46, 46, 0.15);
  background: rgba(242, 242, 242, 0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.work__fade-wrapper {
  display: none;
}

.work__fade-wrapper::before {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 98;
}

.work__fade-wrapper.active {
  display: block;
  transition: all .3s;
}

.work__fade-slider {
  height: 320px;
  position: relative;
}

.work__fade-slider img {
  border-radius: 5px 5px 0 0;
  max-width: none;
}

.work__fade-text {
  padding: 23px 34px;
}

.work__fade-title {
  font-weight: 700;
  font-size: 24px;
}

.work__fade-parameters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.work__fade-size {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

.work__fade-size span {
  font-weight: 500;
  font-size: 23px;
  margin-top: 13px;
  display: block;
}

.work__fade-size span small {
  font-weight: 400;
  font-size: 15px;
}

.work__fade-color {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

.work__fade-color-list {
  margin-top: 13px;
  display: flex;
}

.work__fade-radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.65;
}

.work__fade-radio.active {
  width: 25px;
  height: 25px;
}

.work__fade-radio--pink {
  background: linear-gradient(0deg, #FFD2B9, #FFD2B9);
}

.work__fade-radio--pink.active {
  box-shadow: 0px 0px 10px #FFD2B9;
  background: linear-gradient(0deg, #FFD2B9, #FFD2B9);
}

.work__fade-radio--red {
  background: linear-gradient(0deg, #EA6262, #EA6262);
}

.work__fade-radio--red.active {
  box-shadow: 0px 0px 10px #EA6262;
  background: linear-gradient(0deg, #EA6262, #EA6262);
}

.work__fade-radio--violet {
  background: linear-gradient(0deg, #BB3767, #BB3767);
}

.work__fade-radio--violet.active {
  box-shadow: 0px 0px 10px #BB3767;
  background: linear-gradient(0deg, #BB3767, #BB3767);
}

.work__fade-radio--blue {
  background: linear-gradient(0deg, #82FFFF, #82FFFF);
}

.work__fade-radio--blue.active {
  box-shadow: 0px 0px 10px #82FFFF;
  background: linear-gradient(0deg, #82FFFF, #82FFFF);
}

.work__fade-radio + .work__fade-radio {
  margin-left: 17px;
}

.work__fade-radio input {
  display: none;
}

.work__fade-description {
  font-size: 15px;
  line-height: 20px;
  margin-top: 26px;
}

.work__fade-box {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work__fade-price {
  font-weight: 700;
  font-size: 27px;
}

.work__fade-btn {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  width: 114px;
  height: 45px;
  color: #292929;
  padding: 0;
  display: flex;
  align-items: center;
}

.master-class__fade {
  max-width: 496px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(46, 46, 46, 0.15);
  background: rgba(242, 242, 242, 0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.master-class__fade-wrapper {
  display: none;
}

.master-class__fade-wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 98;
}

.master-class__fade-wrapper.active {
  display: block;
  transition: all .3s;
}

.master-class__fade-slider {
  height: 272px;
  position: relative;
}

.master-class__fade-slider img {
  border-radius: 5px 5px 0 0;
  max-width: none;
}

.master-class__fade-text {
  padding: 23px 34px;
}

.master-class__fade-title {
  font-weight: 700;
  font-size: 24px;
}

.master-class__fade-parameters {
  font-size: 16px;
  line-height: 24px;
  margin-top: 21px;
}

.master-class__fade-box {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.master-class__fade-price {
  font-weight: 700;
  font-size: 27px;
}

.master-class__fade-btn {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  width: 114px;
  height: 45px;
  color: #292929;
  padding: 0;
  display: flex;
  align-items: center;
}

.modal-individual {
  display: none;
}

.modal-individual__inner {
  max-width: 353px;
  width: 100%;
  background: rgba(242, 242, 242, 0.8);
  box-shadow: 0px 0px 10px rgba(46, 46, 46, 0.15);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  padding: 21px 18px 18px;
  text-align: center;
}

.modal-individual.active {
  display: block;
}

.modal-individual::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 98;
}

.modal-individual__title {
  font-size: 25px;
  font-weight: 700;
}

.modal-individual__form {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
}

.modal-individual__form input,
.modal-individual__form textarea {
  text-align: center;
  padding: 16px 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #292929;
  box-shadow: 0px 0px 10px rgba(46, 46, 46, 0.15);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #292929;
}

.modal-individual__form textarea {
  height: 148px;
  resize: none;
}

.modal-individual__form button {
  border: none;
  align-self: center;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 17px 10px;
}

.modal-individual-win {
  display: none;
}

.modal-individual-win__inner {
  max-width: 353px;
  width: 100%;
  height: 560px;
  background: rgba(242, 242, 242, 0.8);
  box-shadow: 0px 0px 10px rgba(46, 46, 46, 0.15);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  padding: 21px 54px 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modal-individual-win.active {
  display: block;
}

.modal-individual-win::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 98;
}

.modal-individual-win__title {
  font-weight: 500;
  font-size: 25px;
}

.modal-individual-win__checked {
  width: 61px;
  height: 61px;
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-individual-win__checked::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 15px;
  background-image: url(../img/icon/checked.svg);
}

.modal-individual-win__text {
  font-size: 15px;
  text-align: center;
}

.baskets-fade__inner {
  transform: translateX(200%);
  position: absolute;
  top: 0;
  right: 0;
  max-width: 375px;
  width: 100%;
  padding: 0 20px 78px 11px;
  background: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 5px 0px 0px 5px;
  transition: all .3s;
}

.baskets-fade__inner.active {
  transform: translateX(0);
}

.baskets-fade__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  background-color: #fff;
}

.baskets-fade__btn-close {
  background-image: url(../img/icon/back.svg);
  width: 7px;
  height: 12px;
}

.baskets-fade__title {
  font-weight: 500;
  font-size: 20px;
}

.baskets-fade__items {
  overflow-y: auto;
  padding-right: 11px;
  max-height: 242px;
}

.baskets-fade__item {
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding-bottom: 8px;
  position: relative;
  border-bottom: 1px solid #292929;
}

.baskets-fade__item-btn-close {
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  top: 8px;
  right: 0;
  transform: rotate(-45deg);
}

.baskets-fade__item-btn-close::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000;
  transform: rotate(90deg);
}

.baskets-fade__item-img {
  width: 86px;
  height: 95px;
  border-radius: 3px;
}

.baskets-fade__item-img img {
  max-width: none;
  border-radius: 3px;
}

.baskets-fade__item__text {
  width: 100%;
  margin-left: 12px;
}

.baskets-fade__item-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.baskets-fade__item__size {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 10px;
}

.baskets-fade__item__color {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
}

.baskets-fade__item__color span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin-left: 11px;
}

.baskets-fade__item__parametrs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.baskets-fade__item__counters {
  font-weight: 600;
  cursor: pointer;
}

.baskets-fade__item__price {
  font-weight: 500;
}

.baskets-fade__summa {
  font-size: 22px;
  margin-top: 28px;
  text-align: right;
}

.baskets-fade__summa span {
  font-weight: 600;
}

.baskets-fade__form {
  margin: 27px auto 0;
  display: flex;
  flex-direction: column;
}

.baskets-fade__form input {
  text-align: center;
  padding: 16px 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #292929;
  box-shadow: 0px 0px 10px rgba(46, 46, 46, 0.15);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #292929;
}

.baskets-fade__form button {
  border: none;
  align-self: center;
  font-weight: 700;
  font-size: 13px;
  padding: 12px 17px 10px;
  margin-top: 30px;
}

.header {
  max-width: 15vw;
  width: 100%;
  background-color: #fafafa;
  position: fixed;
  height: 100%;
  z-index: 2;
}

.header__inner {
  padding: 57px 10px 5px 57px;
  height: 748px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: normal;
  position: relative;
}

.header__lang {
  display: none;
}

.header__btn-close {
  background-image: url(../img/icon/back.svg);
  transform: rotate(180deg);
  width: 7px;
  height: 12px;
  position: absolute;
  top: 20px;
  right: 10px;
  display: none;
  cursor: pointer;
}

.header__menu {
  font-weight: 500;
}

.header__menu li + li {
  margin-top: 40px;
}

.header__menu a {
  color: #292929;
  opacity: 0.35;
  font-size: 13px;
  line-height: 1.2;
  transition: all .3s;
}

.header__menu a:hover {
  opacity: 1;
}

.header__contacts {
  font-size: 11px;
  display: flex;
  flex-direction: column;
}

.header__contacts a {
  letter-spacing: 0.005em;
  color: #292929;
  line-height: 13px;
  font-weight: 300;
}

.header__contacts a + a {
  margin-top: 18px;
}

.header__contacts a::before {
  margin-right: 10px;
}

.top-line {
  background-color: #fff;
  position: relative;
  z-index: 1;
  width: 85vw;
  height: 57px;
}

.top-line__inner {
  padding: 0 37px;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-line__btn-menu {
  width: 22px;
  height: 16px;
  display: none;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.top-line__btn-menu span {
  display: block;
  width: 17px;
  height: 2px;
  background-color: #3E3E3E;
}

.top-line__btn-menu span::before, .top-line__btn-menu span::after {
  content: '';
  position: absolute;
  background-color: #3E3E3E;
  height: 2px;
  display: block;
}

.top-line__btn-menu span::before {
  width: 21px;
  top: 0;
}

.top-line__btn-menu span::after {
  width: 12px;
  bottom: 0;
}

.top-line__baskets {
  position: relative;
  padding: 5px 5px 0 0;
}

.top-line__baskets span {
  position: absolute;
  top: -3px;
  right: 0;
  font-size: 10px;
  letter-spacing: -0.085em;
}

.greetings {
  background-repeat: no-repeat;
  background-size: cover;
  height: 691px;
  position: relative;
}

.greetings__wrapper {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.51) 0%, rgba(217, 217, 217, 0) 71.04%);
  width: 100%;
  height: 100%;
}

.greetings__inner {
  color: #fff;
  font-family: "Inter", sans-serif;
  max-width: 520px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.greetings__inner h3 {
  font-size: calc(60px + 15 * ((100vw - 320px) / 870));
  font-weight: 700;
  line-height: 91px;
}

.greetings__inner h1 {
  font-size: calc(20px + 10 * ((100vw - 320px) / 870));
  line-height: 36px;
  font-weight: 700;
}

.greetings__inner p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.005em;
}

.greetings__link {
  display: flex;
  align-items: center;
  margin-top: 34px;
}

.greetings__link span {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.005em;
  margin-right: 9px;
}

.greetings__link a {
  position: relative;
}

.greetings__link a::after {
  content: '';
  position: absolute;
  height: 11px;
  width: 6px;
  background-image: url(../img/icon/arrow-down-w.svg);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.history__inner {
  display: flex;
  justify-content: space-between;
}

.history__text {
  font-size: 17px;
  margin-right: 15px;
  line-height: 21px;
  letter-spacing: 0.005em;
  max-width: 533px;
}

.history__text p {
  margin-bottom: 25px;
}

.history__link {
  margin-bottom: 25px;
  color: #292929;
  font-weight: 700;
  padding-right: 73px;
  display: flex;
  align-items: center;
}

.history__link a {
  width: 63px;
  height: 23px;
  margin-left: 15px;
  background: linear-gradient(0deg, #FFD2B9, #FFD2B9);
  box-shadow: 3px 3px 12px rgba(255, 210, 185, 0.5), -3px -3px 12px rgba(255, 210, 185, 0.5);
  border-radius: 3px;
  position: relative;
}

.history__link a::after {
  content: '';
  position: absolute;
  background-image: url(../img/icon/arrow-down-b.svg);
  width: 6px;
  height: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.history__link:last-child {
  margin-bottom: 0;
}

.history__img {
  margin-left: 15px;
  box-shadow: 0px 0px 10px rgba(38, 38, 38, 0.5);
}

.work__wrapper {
  display: flex;
  flex-direction: column;
}

.work__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.work__item {
  width: 266px;
  height: 266px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  color: #fff;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

.work__item-inner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.31%, rgba(0, 0, 0, 0.7) 98.37%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8px 22px 10px 14px;
}

.work__name {
  font-size: 22px;
}

.work__price {
  font-weight: 700;
  font-size: 20px;
}

.work__plus span {
  width: 3px;
  height: 22px;
  background: linear-gradient(0deg, #FFD2B9, #FFD2B9);
  display: block;
  border-radius: 3px;
  position: relative;
}

.work__plus span::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 22px;
  background: linear-gradient(0deg, #FFD2B9, #FFD2B9);
  display: block;
  border-radius: 3px;
  transform: rotate(90deg);
}

.work__link {
  align-self: center;
}

.individual-order__title {
  width: 290px;
}

.individual-order__text {
  max-width: 510px;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.005em;
  margin-bottom: 43px;
}

.individual-order__text span {
  font-weight: 700;
}

.individual-order__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.master-class__wrapper {
  display: flex;
  flex-direction: column;
}

.master-class__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.master-class__item {
  width: 368px;
  height: 207px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.master-class__item-inner {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.31%, rgba(0, 0, 0, 0.7) 98.37%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8px 22px 10px 14px;
}

.master-class__name {
  font-size: 22px;
}

.master-class__price {
  font-weight: 700;
  font-size: 20px;
}

.master-class__plus span {
  width: 3px;
  height: 22px;
  background: linear-gradient(0deg, #FFD2B9, #FFD2B9);
  display: block;
  border-radius: 3px;
  position: relative;
}

.master-class__plus span::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 22px;
  background: linear-gradient(0deg, #FFD2B9, #FFD2B9);
  display: block;
  border-radius: 3px;
  transform: rotate(90deg);
}

.master-class__link {
  align-self: center;
}

.gallery__inner {
  position: relative;
}

.gallery__item {
  height: 602px;
}

.gallery__item img {
  border-radius: 5px;
  width: 100%;
}

.reviews__title {
  margin-bottom: 127px;
}

.reviews__items {
  position: relative;
  max-width: 584px;
  margin: 0 auto;
  height: 130px;
}

.reviews__item {
  max-width: 584px;
  height: 130px;
  background: #F7F7F7;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
}

.reviews__img {
  position: relative;
  min-width: 128px;
  min-height: 160px;
  bottom: 40px;
  left: 20px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
}

.reviews__text {
  margin: 17px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  position: relative;
}

.reviews__name {
  font-weight: 700;
  font-size: 22px;
}

.reviews__box {
  margin-top: 28px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 12px;
}

.reviews__box span {
  display: block;
  font-weight: 700;
  font-size: 14px;
}

.reviews__arrows {
  position: absolute;
  left: 0;
  right: 0;
}

.reviews__comments {
  max-width: 1008px;
  margin: 0 auto;
  height: 180px;
  margin-top: 18px;
  position: relative;
  z-index: 2;
}

.reviews__comment {
  max-width: 1008px;
  height: 180px;
  background: #F7F7F7;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.005em;
  font-family: "Inter", sans-serif;
  padding: 46px;
}

.contacts__title {
  width: 300px;
}

.contacts__inner {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.005em;
}

.contacts__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 0;
}

.contacts__social li + li {
  margin-left: 120px;
}

.contacts__social a {
  border: 1px solid #E4E4E4;
  box-shadow: 0px 0px 20px rgba(38, 38, 38, 0.1);
  border-radius: 4px;
  width: 182px;
  height: 117px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.005em;
  padding: 12px 5px;
  color: #292929;
  opacity: 0.2;
  transition: all .3s;
}

.contacts__social a::before {
  font-size: 60px;
}

.contacts__social a:hover {
  opacity: 1;
}

.footer {
  background-color: #292929;
  position: relative;
  z-index: 1;
}

.footer__inner {
  display: flex;
  padding: 35px 53px;
  justify-content: space-between;
  align-items: center;
}

.footer__left p {
  margin-top: 18px;
  color: #fff;
  opacity: .6;
  font-size: 11px;
  line-height: 130.69%;
  letter-spacing: -0.005em;
  width: 168px;
}

.footer__content {
  align-self: center;
}

.footer__menu-list {
  display: flex;
}

.footer__menu-list li + li {
  margin-left: 40px;
}

.footer__menu-list a {
  font-weight: 500;
  font-size: 15px;
  color: #FAFAFA;
  opacity: 0.4;
  transition: all .3s;
}

.footer__menu-list a:hover {
  opacity: 1;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .arrow__top {
  width: 48px;
  height: 24px;
  border-radius: 3px;
  position: relative;
  padding: 0;
}

.footer .arrow__top::before {
  content: '';
  position: absolute;
  background-image: url(../img/icon/arrow-down-b.svg);
  width: 6px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.footer__pay {
  display: flex;
  align-items: center;
}

.footer__pay-logo {
  margin-left: 15px;
}

@media (max-height: 800px) {
  .header__inner {
    padding: 57px 10px 5px 30px;
    height: 600px;
  }
}

@media (max-width: 592px) {
  .container {
    margin-left: 20px;
  }
  .header.active {
    max-width: 100% !important;
    width: 100%;
  }
  .top-line__inner {
    padding: 0 20px;
  }
  .baskets-fade__inner {
    max-width: 100%;
  }
  .greetings {
    height: 576px;
  }
  .greetings__inner {
    transform: translateY(0);
    top: 51px;
    left: 20px;
    max-width: 400px;
    padding-right: 20px;
    font-family: "Montserrat Alternates", sans-serif;
  }
  .greetings__inner h1 {
    line-height: 24px;
  }
  .history {
    font-family: "Montserrat Alternates", sans-serif;
  }
  .history__link {
    padding-right: 0;
  }
  .history__img {
    display: none;
  }
}

@media (max-width: 992px) {
  .history__text {
    max-width: 100%;
    padding-right: 20px;
  }
  .history__img {
    display: none;
  }
}

@media (max-width: 1170px) {
  .header {
    transform: translateX(-1000%);
    transition: all .3s;
  }
  .header__lang {
    display: block;
  }
  .header.active {
    position: absolute;
    transform: translateX(0);
    max-width: 375px;
    width: 100%;
    top: 0;
    z-index: 8;
    height: 748px;
    padding: 0 0px 0px 0px;
    background: rgba(255, 255, 255, 0.95);
  }
  .header.active .header__inner {
    padding: 20px 10px 20px 30px;
    position: relative;
  }
  .header__btn-close {
    display: block;
  }
  .header__menu a {
    opacity: .7;
    font-size: 18px;
  }
  .header__contacts {
    font-size: 16px;
  }
  .top-line {
    width: 100vw;
  }
  .top-line__btn-menu {
    display: flex;
  }
  .top-line__lang {
    display: none;
  }
  .content {
    width: 100vw;
    margin-left: 0;
  }
  .greetings__wrapper {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.51) 0%, rgba(217, 217, 217, 0) 100%);
  }
}

@media (max-width: 1460px) {
  .header__inner {
    padding: 57px 10px 5px 30px;
  }
}
